body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#excuse {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
}

